# List
- List are ordered, mutable collection of items
    - `Lists` is `mutable`.This means that after a list has been created, its `contents` can be `changed`.
    - `Lists` is an `ordered collection` of elements. This means that: `Order of Insertion` is `Maintained`
- They can contain items of different data types

In [1]:
lst = []
print(type(lst))

<class 'list'>

In [2]:
names = ["Krish", "Jack", "Jacob", 1,2,3,4,5]
print(names)

['Krish', 'Jack', 'Jacob', 1, 2, 3, 4, 5]

In [3]:
names[1:3]

['Jack', 'Jacob']

In [4]:
names.pop()

5

In [5]:
names

['Krish', 'Jack', 'Jacob', 1, 2, 3, 4]

# 23-09-2025

In [10]:
names.index("Krish")

0

In [11]:
names.insert(1, "Rush")

In [12]:
names

['Krish', 'Rush', 'Jack', 'Jacob', 1, 2, 3, 4]

In [14]:
sorted_list = names.sort

In [19]:
names

['Jack', 'Jacob', 'Krish', 'Rush', 1, 2, 3, 4]

In [20]:
names.reverse()

In [21]:
names

[4, 3, 2, 1, 'Rush', 'Krish', 'Jacob', 'Jack']

In [22]:
names.remove(4)

In [ ]:
names

[3, 2, 1, 'Rush', 'Krish', 'Jacob', 'Jack']

In [24]:
names.clear()
names

[]

# Slicing List

In [25]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [31]:
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [34]:
numbers[::4]

[1, 5, 9]

## Iterating Over List

In [37]:
names = ["Krish", "Jack", "Jacob", 1,2,3,4,5]
print(names)

for name in names:
    print(name)

['Krish', 'Jack', 'Jacob', 1, 2, 3, 4, 5]
Krish
Jack
Jacob
1
2
3
4
5

In [40]:
## Iterating with index
for index, name in enumerate(names):
    print(index, name)

0 Krish
1 Jack
2 Jacob
3 1
4 2
5 3
6 4
7 5

In [41]:
## List Comprehension

lst = []
for x in range(10):
    lst.append(x**2)

In [42]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
## List Comprenhension example
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##### List Comprenhension Syntax

- Basic Syntax: 
    - [expression `for` item `in` iterable]
<br></br>
- with condition logic: 
    - [expression `for` item `in` iterable `if` condition]
<br></br>
- Nested List Comprehension:
    - [expression `for` item1 in iterable1 `for` item2 in iterable2]

## Basic List Comprehension

In [48]:
### Basic List Comprenhension example
square = [num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### List Comprehension with Condition

In [50]:
[num for num in range(10) if num%2 == 0]

[0, 2, 4, 6, 8]

## Nested List Comprehension

In [51]:
lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']

pair = [(i,j) for i in lst1 for j in lst2]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

In [54]:
### List Comprehension with function calls
words = ["hello", "world", "Python", "list", "Comprehension"]
lengths = [len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]

### Conclusion of List Comprehension
- List Comprehension are a powerful and concise way to create lists in python. They are syntactilly compact and replace more verbose looping constructs.
- Understanding the syntax of list comprehension will help us to write clener and more python code.