## if Statements

In [51]:
age = int(input("Enter your age: "))
if age >= 18:
    print("You are eligible to vote!")
else:
    print("Allow Age is Greter than or equal to 18.")

You are eligible to vote!

In [52]:
age >= 20

True

# 25-August-2025

## Else Statement
- The else Statement executes a block of code if the condition in the `if` statements is False

In [2]:
age = 16

if age >= 18:
    print("You are eligible for voting.")
else:
    print("You are Not eligible for voting.")

You are Not eligible for voting.

## `elif` statement
- The `elif` statement allows you to check multiple conditions. 
- It stands for `else if`

In [11]:
age = float(input("Enter your age: "))

if age < 18:
    print("You are Teeneger")
elif age >= 18 and age <= 24:
    print("You are Adult")
elif age >= 25 and age <= 30:
    print("You are Young.")
else:
    print("You're Mature")

You are Young.

## Nested Conditional Statements:

In [5]:
# Example: Check the number wether it is even, odd or negative?

num = int(input("Enter the Number to ckeck: "))
if num > 0:
    print(f"The given number: {num} is Positive.")
    if num%2 == 0:
        print(f"The given number {num} is Even.")
    else:
        print(f"The given number {num} is ODD.")
else:
    print(f"The given number {num} is Negative(-ve)")

The given number: 44 is Positive.
The given number 44 is Even.

## Practical Example

#### Determine if a year is a leap year using nested condition statement.

In [39]:
year = int(input("Enter the Year: "))

# Step 1: Check divisibility by 4
if year % 4 == 0:  
    # If divisible by 4, it might be a leap year

    # Step 2: Check divisibility by 100
    if year % 100 == 0:
        # If divisible by 100, it might still be leap but needs further check
        
        # Step 3: Check divisibility by 400
        if year % 400 == 0:
            # If divisible by 400 → Leap Year
            print(f"Given Year: {year} is a Leap Year")
        else:
            # If divisible by 100 but NOT by 400 → Not a Leap Year
            print(f"Given Year: {year} is NOT a Leap Year")
    else:
        # If divisible by 4 but NOT by 100 → Leap Year
        print(f"Given Year: {year} is a Leap Year")
else:
    # If NOT divisible by 4 → Not a Leap Year
    print(f"Given Year: {year} is NOT a Leap Year")

Given Year: 400 is a Leap Year

In [41]:
400%4

0

#### Assigment
- Simple calculator program

In [49]:
num1 = float(input("Enter the 1st Number: "))
operator = input("Enter the operator: +, -, *, /: ")
num2 = float(input("Enter the 2nd Number: "))

if operator == "+":
    result = num1 + num2
elif operator == "-":
    result = num1 - num2
elif operator == '*':
    result = num1 * num2
elif operator == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error! Division by Zero."
else:
    result = "Invalid operation."

print(f"{num1} {operator} {num2} = {result} ")

4.0 / 10.0 = 0.4

# Loops in Python

## `for` Loop

In [54]:
range(5)

range(0, 5)

In [55]:
for i in range(5):
    print(i)

0
1
2
3
4

In [59]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
str = "Rushi Yadav"

for i in str:
    print(i)

R
u
s
h
i

Y
a
d
a
v

## While Loop
-- The `while loop` continues to execute as long as the condition is `True`

In [4]:
count = 0

while count < 5:
    print(count)
    # count += 1
    count = count + 1

0
1
2
3
4

In [11]:
count = 0
while count%2 == 0:
    print(count)
    count += 1

0

## Loop control statements:
- break
- continue
- pass

#### break:
- The break statement exists the loop permaturely

In [13]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

#### continue
- The continue statement skips the current iteration and continues with the next.

In [14]:
for i in range(10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [16]:
for i in range(10):
    if i%2 != 0:
        continue
    print(i)

0
2
4
6
8

#### pass Stetement
- The `pass stetement` is a null operation; it does nothing

In [18]:
for i in range(5):
    if i == 3:
        print("the number is",i)
        pass
    print(i)

0
1
2
the number is 3
3
4

In [19]:
def empty_func():
    pass

In [20]:
empty_func()

## Nested loops
- A loop inside a loop

In [23]:
for i in range(3):
    for j in range(2):
        print(f"i: {i} and j:{j}")

i: 0 and j:0
i: 0 and j:1
i: 1 and j:0
i: 1 and j:1
i: 2 and j:0
i: 2 and j:1

#### Examples - Calculate the sum of first N natural numbers using a `while` and `for` loop

In [24]:
## While loop:
n = 10
sum = 0
count = 1

while count <= n:
    sum = sum + count
    count = count + 1
print("Sum of first 10 Natural number: ", sum)

Sum of first 10 Natural number:  55

In [26]:
n = 10
sum = 0

for i in range(n + 1):
    sum = sum + i
print(sum)

55

In [28]:
## Example - Prime numbers between 1 and 100

for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if num%i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Conclusion:
- Loops are powerful constructs in python that allow you to execute block of code multiple times.